<%- include("header") -%>
    <div class="box" id="heading"><h1 > <%= taskTitle %> </h1></div>

   <div class="box">
    
        
       <% for (var i=0;i < newlistitem.length; i++ ) { %>
    <div class="item">
        <input type="checkbox" >
       <p><%= newlistitem[i] %></p>
        </div>
     <%}%>
    
    <form class="item" action="/" method="post">
       <input type="text" name="addlist" id="" placeholder="enter event">
       <button type="submit" name="btn" value=<%= taskTitle %> + </button>
    </form></div>
    <%- include("footer") -%>